/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.layout {
  @apply w-screen h-screen overflow-x-hidden overflow-y-scroll;
}

.background {
  @apply relative w-full h-full bg-white bg-cover;
}

.reality-background {
  @apply relative w-full overflow-y-scroll bg-cover;
}

.wrapper {
  @apply relative w-full h-full overflow-x-hidden overflow-y-scroll;
}

/* react switch style starts */
.on-switch > div:nth-child(2) {
  left: calc(100% - 45px);
  -webkit-animation: slide 0.1s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.1s forwards;
  animation-delay: 2s;
  transition-timing-function: ease-in-out;
}

.react-switch-bg {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  position: relative;
  background: rgba(10, 48, 133, 0.5) !important;
  border-radius: 40px !important;
  cursor: pointer;
}

.react-switch-handle {
  height: 45px !important;
  width: 45px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  background-color: rgba(10, 48, 133, 1) !important;
}

.react-switch-handle > div:nth-child(1) {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.react-switch-handle > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}

.react-switch-handle > div:nth-child(2) {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.react-switch-handle > div:nth-child(2) > img {
  width: 100%;
  height: 100%;
}
/* react switch style ends */

::-webkit-scrollbar {
  display: none;
}